{
  "openapi": "3.0.3",
  "info": {
    "title": "API Backoffice Heathwords",
    "description": "API Backoffice Heathwords",
    "version": "2.71.13"
  },
  "servers": [
    {
      "url": "https://backoffice-api.stagcaptain.healthwords.ai",
      "description": "Staging"
    },
    {
      "url": "https://backoffice-api.prodcaptain.healthwords.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Check server health",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/healthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/healthc": {
      "get": {
        "summary": "Check server health",
        "tags": [
          "Health"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/healthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/pdf": {
      "post": {
        "summary": "Generate pdf file",
        "tags": [
          "Pdf"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/pdfGenerationRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pdfGenerationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/request-code": {
      "post": {
        "summary": "Auth request code",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postLoginRequesBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userAuthRequestCodeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/login": {
      "post": {
        "summary": "Auth login",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postLoginBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userAuthenticatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/refresh-token": {
      "post": {
        "summary": "Auth refresh token",
        "tags": [
          "Auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postRefreshTokenBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userAuthenticatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "summary": "Get me info",
        "tags": [
          "Me"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/meResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update me",
        "tags": [
          "Me"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postMeBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/meResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/files/upload-url": {
      "post": {
        "summary": "File upload url request",
        "tags": [
          "File"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postFileUploadUrlBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fileUploadUrlResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/files": {
      "get": {
        "summary": "List and filter all files",
        "tags": [
          "File"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "default": 1
            },
            "required": false
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "name",
                "content_type"
              ],
              "default": "created"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "ids",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12}(,[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12})*$"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "search_name",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "search_user",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "content_type",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_before",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_after",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listFileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/files/{id}": {
      "get": {
        "summary": "Get file by id",
        "tags": [
          "File"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/libraries": {
      "get": {
        "summary": "List and filter all libraries",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "default": 1
            },
            "required": false
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "updated",
                "created",
                "summary",
                "country",
                "draft",
                "content_type",
                "video"
              ],
              "default": "updated"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "ids",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12}(,[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12})*$"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "draft",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "has_video",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "content_type",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "search_summary",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "category_ids",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12}(,[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12})*$"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "country",
            "schema": {
              "type": "string",
              "enum": [
                "gb",
                "us"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_before",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_after",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listLibraryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a library",
        "tags": [
          "Library"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postLibraryBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/libraryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/libraries/list": {
      "post": {
        "summary": "List and filter all libraries",
        "tags": [
          "Library"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/listLibrariesBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listLibraryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/libraries/_count": {
      "get": {
        "summary": "Count and filter all libraries",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "default": 1
            },
            "required": false
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "updated",
                "created",
                "summary",
                "country",
                "draft",
                "content_type",
                "video"
              ],
              "default": "updated"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "ids",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12}(,[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12})*$"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "draft",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "has_video",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "content_type",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "search_summary",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "category_ids",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12}(,[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12})*$"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "country",
            "schema": {
              "type": "string",
              "enum": [
                "gb",
                "us"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_before",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_after",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/countResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/libraries/{id}": {
      "get": {
        "summary": "Get library by id",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/libraryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a library",
        "tags": [
          "Library"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postLibraryBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/libraryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/libraries/{id}/link_products": {
      "put": {
        "summary": "Link a library to recommended products",
        "tags": [
          "Library"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/linkLibraryProductsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/libraryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/users": {
      "get": {
        "summary": "List and filter all users",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "default": 1
            },
            "required": false
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "updated",
                "created",
                "name",
                "role"
              ],
              "default": "updated"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "ids",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12}(,[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12})*$"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "search_name",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "role",
            "schema": {
              "type": "string",
              "enum": [
                "admin",
                "editor"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_before",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_after",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listUserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an user",
        "tags": [
          "User"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postUserBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/list": {
      "post": {
        "summary": "List and filter all users",
        "tags": [
          "User"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/listUsersBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listUserResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/_count": {
      "get": {
        "summary": "Count and filter all users",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "default": 1
            },
            "required": false
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "updated",
                "created",
                "name",
                "role"
              ],
              "default": "updated"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "ids",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12}(,[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12})*$"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "search_name",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "role",
            "schema": {
              "type": "string",
              "enum": [
                "admin",
                "editor"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_before",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_after",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/countResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/{id}": {
      "get": {
        "summary": "Get user by id",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update an user",
        "tags": [
          "User"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postUserBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/editors": {
      "get": {
        "summary": "List and filter all editors",
        "tags": [
          "Editor"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "default": 1
            },
            "required": false
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "updated",
                "name",
                "title",
                "created",
                "display_order"
              ],
              "default": "updated"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "ids",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "search_name",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_before",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_after",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listEditorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an editor",
        "tags": [
          "Editor"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postEditorBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/editorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/editors/_count": {
      "get": {
        "summary": "Count and filter all editors",
        "tags": [
          "Editor"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "default": 1
            },
            "required": false
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "updated",
                "name",
                "title",
                "created",
                "display_order"
              ],
              "default": "updated"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "ids",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "search_name",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_before",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_after",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/countResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/editors/list": {
      "post": {
        "summary": "List and filter all editors",
        "tags": [
          "Editor"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/listEditorsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listEditorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/editors/{id}": {
      "get": {
        "summary": "Get editor by id",
        "tags": [
          "Editor"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/editorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update an editor",
        "tags": [
          "Editor"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "number",
              "format": "float"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postEditorBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/editorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/activity_logs": {
      "get": {
        "summary": "List and filter all activity logs",
        "tags": [
          "Activity Log"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "default": 1
            },
            "required": false
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "created"
              ],
              "default": "created"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "ids",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12}(,[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12})*$"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "user_ids",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12}(,[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12})*$"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "action",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "asset_type",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_before",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_after",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listActivityLogResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/activity_logs/list": {
      "post": {
        "summary": "List and filter all activity logs",
        "tags": [
          "Activity Log"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/listActivityLogsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listActivityLogResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/categories": {
      "get": {
        "summary": "List and filter all categories",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "default": 1
            },
            "required": false
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "updated",
                "created",
                "name",
                "display_order"
              ],
              "default": "updated"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "ids",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12}(,[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12})*$"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "search_name",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_before",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_after",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listCategoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a category",
        "tags": [
          "Category"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCategoryBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/categoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/categories/list": {
      "post": {
        "summary": "List and filter all categories",
        "tags": [
          "Category"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/listCategoriesBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listCategoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/categories/_count": {
      "get": {
        "summary": "Count and filter all categories",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "default": 1
            },
            "required": false
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "updated",
                "created",
                "name",
                "display_order"
              ],
              "default": "updated"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "ids",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12}(,[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12})*$"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "search_name",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_before",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_after",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/countResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/categories/{id}": {
      "get": {
        "summary": "Get category by id",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              },
              "required": [
                "id"
              ],
              "additionalProperties": false
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/categoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a category",
        "tags": [
          "Category"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              },
              "required": [
                "id"
              ],
              "additionalProperties": false
            },
            "required": false
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postCategoryBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/categoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/settings/groups": {
      "get": {
        "summary": "List all setting groups",
        "tags": [
          "Setting"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listSettingGroupResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/settings": {
      "get": {
        "summary": "List and filter all settings",
        "tags": [
          "Setting"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "default": 1
            },
            "required": false
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "updated",
                "created",
                "value",
                "id"
              ],
              "default": "updated"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "ids",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12}(,[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12})*$"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "group_id",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "search_name",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "all",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_before",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_after",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listSettingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a setting",
        "tags": [
          "Setting"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postSettingBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/settingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/settings/list": {
      "post": {
        "summary": "List and filter all settings",
        "tags": [
          "Setting"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/listSettingsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listSettingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/settings/{id}": {
      "get": {
        "summary": "Get setting by id",
        "tags": [
          "Setting"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/settingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a setting",
        "tags": [
          "Setting"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postSettingUpdateBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/settingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/products": {
      "get": {
        "summary": "List and filter all products",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "default": 1
            },
            "required": false
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "updated",
                "created",
                "name",
                "country",
                "draft",
                "price",
                "quantity"
              ],
              "default": "updated"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "ids",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12}(,[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12})*$"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "product_type",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "search_name",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "is_popular",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "country",
            "schema": {
              "type": "string",
              "enum": [
                "gb",
                "us"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_before",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_after",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listProductResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a product",
        "tags": [
          "Product"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postProductBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/productResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/_count": {
      "get": {
        "summary": "Count and filter all products",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "maximum": 500,
              "default": 10
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "number",
              "format": "float",
              "minimum": 1,
              "default": 1
            },
            "required": false
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "default": "DESC"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "updated",
                "created",
                "name",
                "country",
                "draft",
                "price",
                "quantity"
              ],
              "default": "updated"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "ids",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12}(,[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12})*$"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "product_type",
            "schema": {
              "type": "integer"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "search_name",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "is_popular",
            "schema": {
              "type": "boolean"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "country",
            "schema": {
              "type": "string",
              "enum": [
                "gb",
                "us"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_before",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "created_after",
            "schema": {
              "type": "string",
              "pattern": "\\d+",
              "description": "MS since epoch",
              "example": "1649155901169"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/countResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/list": {
      "post": {
        "summary": "List and filter all products",
        "tags": [
          "Product"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/listProductsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listProductResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/{id}": {
      "get": {
        "summary": "Get product by id",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/productResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a product",
        "tags": [
          "Product"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/postProductBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/productResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/gateway/influencers": {
      "get": {
        "summary": "List all influencers",
        "tags": [
          "Gateway"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gatewayListInfluencerResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/gateway/influencers/check_invitation": {
      "post": {
        "summary": "Check an invitation",
        "tags": [
          "Gateway"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/gatewayPostInvitationCheckBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gatewayInfluencerMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/gateway/influencers/link_invitation": {
      "post": {
        "summary": "Link an invitation",
        "tags": [
          "Gateway"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/gatewayPostInvitationLinkBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gatewayInfluencerMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/gateway/influencers/from_user": {
      "get": {
        "summary": "Get influencer from user",
        "tags": [
          "Gateway"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gatewayInfluencerResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update an influencer",
        "tags": [
          "Gateway"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/gatewayPostInfluencerBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gatewayInfluencerResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/gateway/influencers/{id}": {
      "get": {
        "summary": "Get influencer by id",
        "tags": [
          "Gateway"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gatewayInfluencerResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/gateway/libraries": {
      "get": {
        "summary": "List all libraries",
        "tags": [
          "Gateway"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gatewayListLibraryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/gateway/libraries/alphabetized": {
      "get": {
        "summary": "List all libraries alphabetized",
        "tags": [
          "Gateway"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gatewayListLibraryAlphabetizedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/gateway/libraries/{id}": {
      "get": {
        "summary": "Get library by id",
        "tags": [
          "Gateway"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gatewayLibraryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/gateway/products/categories": {
      "get": {
        "summary": "List all product categories",
        "tags": [
          "Gateway"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gatewayListProductCategoryResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/gateway/products/stock_subscribe": {
      "post": {
        "summary": "Create product stock subscriber",
        "tags": [
          "Gateway"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/gatewayPostStockSubscriberBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gatewayProductMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/httpError"
                },
                "examples": {
                  "error": {
                    "$ref": "#/components/examples/unauthorizedError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/gateway/products": {
      "get": {
        "summary": "List all products",
        "tags": [
          "Gateway"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "dosage",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/gatewayListProductResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
[...]
